

@model  CVTemplate.Models.Blog
@{
      ViewBag.Title = "Admin Panel";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
    <h2>Blog İçerik Sil</h2>

    <br />
<p>Aşağıdaki veriyi silmek istediğinize emin misiniz?</p>


@Html.Label("Başlık: ")

@Html.DisplayFor(x => x.baslik)
<br />
<br />
@Html.Label("Açıklama:")

@Html.DisplayFor(x => x.icerik)
<br />
<br />


<hr />
@using (Html.BeginForm("BlogIcerikSil", "Admin"))
{
    @Html.HiddenFor(x => x.id)
    <input type="submit" value="Sil" class="btn btn-primary" />

}
@if (ViewBag.Result != null)
{
    <div class="alert alert-@ViewBag.Status" role="alert">
        @ViewBag.Result;
    </div>
}